        <div class="sc" id="{{ _id }}">

          <div class="sc-left">
            <div class="sc-fullname" id="sc-fullname">
              <p><strong>{{firstName}} {{lastName}}</strong></p>
            </div>

            <div class="sc-avatar" id="sc-avatar">
              <img src="images/User.png">
            </div>
          </div> <!-- end sc-left -->

          <div class="sc-middle">

            <div class="phone" id="sc-phone">
              <p><strong>Phone Number: </strong><em>{{phone}}</em></p>
            </div>

            <div class="email" id="sc-email">
              <p><strong>Email address: </strong><a href="mailto:{{email}}"><em>{{email}}</em></a></p>
            </div>

            <div class="sc-website">
              <p><strong>Website: </strong><a href="http://{{website}}" target="_blank"><em>{{website}}</em></a></p>
            </div>

            <div class="sc-address" id="sc-address">
              <p><strong>Address: </strong><em>{{addressOne}}</em></p>
              <p><em>{{addressTwo}}</em></p>
            </div>

            <div class="sc-notes" id="sc-notes">
              <p><strong>Additional notes: </strong><em>{{notes}}</em></p>
            </div>

          </div> <!-- end sc-middle div -->

          <div class="sc-right">
            <div class="googlemap" id="map-canvas">
              <iframe width="600" height="450" frameborder="0" style="border:0" src='https://www.google.com/maps/embed/v1/search?q={{addressOne}}%20{{addressTwo}}%20&key=AIzaSyC_VvHDNx8rh-aFYyqZ44TmRDZsdhchQos'></iframe>
            </div>
          </div>

          <div id="delete" class="delete">
            <p>Delete Contact</p>
          </div>
        </div>
